In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('8. Netflix Dataset.csv')

In [3]:
df.head()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
df.describe()

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
count,7789,7789,7789,5401,7071,7282,7779,7782,7789,7789,7789
unique,7787,2,7787,4050,6831,681,1565,14,216,492,7769
top,s6621,Movie,The Lost Okoroshi,"Raúl Campos, Jan Suter",David Attenborough,United States,1-Jan-20,TV-MA,1 Season,Documentaries,Multiple women report their husbands as missin...
freq,2,5379,2,18,18,2556,118,2865,1608,334,3

In [5]:
df.dropna(subset=['Director'],inplace=True)

In [6]:
df.shape

(5401, 11)

In [7]:
df

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,1-Jul-17,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...
7782,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,1-Jul-18,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7783,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",19-Oct-20,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7788,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States",1-Mar-20,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [8]:
df.shape

(5401, 11)

In [9]:
df.dropna(subset=['Cast'],inplace=True)

In [10]:
df

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,1-Jul-17,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...
7780,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,1-Nov-19,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7782,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,1-Jul-18,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7783,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7784,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",19-Oct-20,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [11]:
df['Cast'].value_counts()

Samuel West                                                                                                                                                                                          10
Jeff Dunham                                                                                                                                                                                           7
Kevin Hart                                                                                                                                                                                            6
Bill Burr                                                                                                                                                                                             5
Jim Gaffigan                                                                                                                                                                                          5
                                                                                                                                                                                                     ..
Josh Brolin, George Clooney, Scarlett Johansson, Alden Ehrenreich, Ralph Fiennes, Tilda Swinton, Channing Tatum, Frances McDormand, Jonah Hill, Veronica Osorio, Heather Goldenhersh, Alison Pill     1
Shahid Kapoor, Tabu, Shraddha Kapoor, Kay Kay Menon, Irrfan Khan, Narendra Jha                                                                                                                        1
Büşra Pekin, Murat Boz, Cezmi Baskın, Şinasi Yurtsever, İdil Dizdar, Hülya Gülsen Irmak, Canan Özer, Şenay Bozoklar, Emrah Kaman, Müjde Uzman                                                         1
Reza Rahadian, Bunga Citra Lestari, Tio Pakusadewo, Ratna Riantiarno, Mike Lucock, Vitta Mariana Barrazza, Christoffer Nelwan                                                                         1
Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy                                                                 1
Name: Cast, Length: 4826, dtype: int64

In [12]:
df['Director'].value_counts()

Raúl Campos, Jan Suter             18
Marcus Raboy                       16
Jay Karas                          14
Cathy Garcia-Molina                13
Jay Chapman                        12
                                   ..
Hardik Mehta                        1
Matt Eskandari                      1
Eric Laneuville                     1
Robert Osman, Nathanael Wiseman     1
Mozez Singh                         1
Name: Director, Length: 3712, dtype: int64

In [13]:
df['Director'].group_by.means()

AttributeError: 'Series' object has no attribute 'group_by'

In [14]:
df.group_by['Direcotr'].means()

AttributeError: 'DataFrame' object has no attribute 'group_by'

In [15]:
df.groupby['Director'].mean()

TypeError: 'method' object is not subscriptable

In [16]:
df1=df.groupby['Director'].mean()

TypeError: 'method' object is not subscriptable

In [17]:
df.groupby('Director').mean()

E:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

Empty DataFrame
Columns: []
Index: [A. L. Vijay, A. Raajdheep, A. Salaam, A.R. Murugadoss, Aadish Keluskar, Aamir Bashir, Aamir Khan, Aanand Rai, Aaron Burns, Aaron Hann, Mario Miscione, Aaron Lieber, Aaron Nee, Adam Nee, Aaron Sorkin, Aaron Woodley, Aatmaram Dharne, Abba T. Makama, Abbas Alibhai Burmawalla, Mastan Alibhai Burmawalla, Abbas Mustan, Abbas Tyrewala, Abdellatif Kechiche, Abdul Aziz Hashad, Abel Ferrara, Abhay Chopra, Abhijeet Deshpande, Abhijit Kokate, Srivinay Salian, Abhijit Panse, Abhinay Deo, Abhishek Chaubey, Abhishek Kapoor, Abhishek Saxena, Abhishek Sharma, Abhishek Varman, Abu Bakr Shawky, Adam Alleca, Adam B. Stein, Zach Lipovsky, Adam Bhala Lough, Adam Collins, Luke Radford, Adam Del Giudice, Adam Deyoe, Adam Dubin, Adam Leon, Adam MacDonald, Adam Marino, Adam McKay, Adam Nimoy, Adam Randall, Adam Shankman, Adam Smith, Adam Wingard, Adam Wood, Adarsh Eshwarappa, Adekunle Nodash Adejuyigbe, Adele K. Thomas, Richard Bailey, Adisorn Tresirikasem, Aditya Kripalani, Aditya Sarpotdar, Aditya Vikram Sengupta, Adrian Murray, Adrian Teh, Adriana Trigiani, Adrien Lagier, Ousmane Ly, Advait Chandan, Adze Ugah, Afia Nathaniel, Afonso Poyart, Agasyah Karim, Khalid Kashogi, Agnidev Chatterjee, Agustí Villaronga, Ahishor Solomon, Ahmad El-Badri, Ahmad Samir Farag, Ahmed Al-Badry, Ahmed El Gendy, Ahmed Medhat, Ahmed Nader Galal, Ahmed Saleh, Ahmed Yousry, Hazem Fouda, Ahmed Zain, Ahmed Zein, Ahmet Katıksız, Ahn Byoung-wook, Ahsan Rahim, Aijaz Khan, Aitor Arregi, Jon Garaño, Aitor Arregi, Jon Garaño, Jose Mari Goenaga, Ajay Bahl, Ajay Bhuyan, Kunal Kohli, Ajay Phansekar, Ajithkumar, Akashdeep, Akhigbe Ilozobhie, Akhil Paul, Anas Khan, Akin Omotoso, Akiva Goldsman, Akiva Schaffer, Akiyuki Shinbo, Nobuyuki Takeuchi, Akram Farouk, Akshay Akkineni, Al Campbell, Alice Mathias, Alain Desrochers, ...]

[3712 rows x 0 columns]

In [18]:
df2=df.groupby("Director").mean()

E:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
df2.reset_index(inplace=True)

In [20]:
df2

                 Director
0             A. L. Vijay
1            A. Raajdheep
2               A. Salaam
3         A.R. Murugadoss
4         Aadish Keluskar
...                   ...
3707          Çagan Irmak
3708     Ísold Uggadóttir
3709  Óskar Thór Axelsson
3710     Ömer Faruk Sorak
3711         Şenol Sönmez

[3712 rows x 1 columns]

In [21]:
df.sort_values(['Director'],ascending=True)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
283,s284,Movie,Abhinetri,A. L. Vijay,"Tamannaah Bhatia, Prabhu Deva, Sonu Sood, Sapt...",India,1-May-18,TV-14,131 min,"Comedies, International Movies, Sci-Fi & Fantasy","Due to family pressure, a corporate man reluct..."
7491,s7490,Movie,Watchman,A. L. Vijay,"G.V. Prakash Kumar, Samyuktha Hegde, Suman, Ra...",India,4-Sep-19,TV-14,93 min,"Comedies, Dramas, International Movies","Rushing to pay off a loan shark, a young man b..."
605,s606,Movie,Asura Guru,A. Raajdheep,"Vikram Prabhu, Subbaraju, Mahima Nambiar, Yogi...",India,13-Jun-20,TV-14,117 min,"Dramas, International Movies","For a tech-savvy thief, elaborate robberies an..."
5351,s5351,Movie,Salaakhen,A. Salaam,"Shashi Kapoor, Sulakshana Pandit, Mehmood, Sud...",India,1-Apr-17,TV-14,134 min,"Action & Adventure, International Movies, Musi...",Two close childhood friends take drastically d...
5396,s5396,Movie,Sarkar,A.R. Murugadoss,"Vijay, Varalakshmi Sarathkumar, Keerthi Suresh...",NaN,2-Mar-19,TV-MA,162 min,"Action & Adventure, Dramas, International Movies",A ruthless businessman’s mission to expose ele...
...,...,...,...,...,...,...,...,...,...,...,...
41,s42,Movie,Ég man þig,Óskar Thór Axelsson,"Jóhannes Haukur Jóhannesson, Ágústa Eva Erlend...",Iceland,27-Mar-18,TV-MA,106 min,"Horror Movies, International Movies","Young urbanites renovating a rundown house, an..."
263,s264,Movie,Aşk Tesadüfleri Sever,Ömer Faruk Sorak,"Mehmet Günsür, Belçim Bilgin, Ayda Aksel, Alta...",Turkey,4-Apr-18,TV-MA,122 min,"Dramas, International Movies, Romantic Movies",A series of coincidences brings two star-cross...
2324,s2325,Movie,G.O.R.A,Ömer Faruk Sorak,"Cem Yılmaz, Rasim Öztekin, Özkan Uğur, İdil Fı...",Turkey,10-Mar-17,TV-MA,123 min,"Action & Adventure, Comedies, International Mo...",Carpet dealer and UFO photo forger Arif is abd...
3380,s3381,Movie,Kill Me If You Dare,Şenol Sönmez,"Murat Boz, Seda Bakan, Açelya Topaloğlu, Özgür...",Turkey,6-Sep-19,TV-14,100 min,"Comedies, International Movies, Romantic Movies","Bogged down with money problems, a couple grow..."
2661,s2662,Movie,Hayat Öpücügü,Şenol Sönmez,"Ali Sunal, Hatice Şendil, Ayda Aksel, Ahmet Sa...",Turkey,10-Mar-17,TV-14,98 min,"Comedies, Dramas, International Movies",High-strung Metin finally stops seeing doom an...

In [26]:
df[df['Country']=="India"]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
8,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,1-Apr-19,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."
9,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,15-Dec-17,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
18,s19,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,29-Mar-19,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ..."
20,s21,Movie,​​Kuch Bheege Alfaaz,Onir,"Geetanjali Thapa, Zain Khan Durrani, Shray Rai...",India,1-Sep-18,TV-14,110 min,"Dramas, Independent Movies, International Movies",After accidentally connecting over the Interne...
21,s22,Movie,​Goli Soda 2,Vijay Milton,"Samuthirakani, Bharath Seeni, Vinoth, Esakki B...",India,15-Sep-18,TV-14,128 min,"Action & Adventure, Dramas, International Movies","A taxi driver, a gangster and an athlete strug..."
...,...,...,...,...,...,...,...,...,...,...,...
7766,s7765,Movie,Zero,Aanand Rai,"Shah Rukh Khan, Anushka Sharma, Katrina Kaif, ...",India,21-May-19,TV-14,159 min,"Comedies, Dramas, International Movies",Through his relationships with two wildly diff...
7771,s7770,Movie,Zindagi Na Milegi Dobara,Zoya Akhtar,"Hrithik Roshan, Abhay Deol, Farhan Akhtar, Kat...",India,15-Dec-19,TV-14,154 min,"Comedies, Dramas, International Movies",Three friends on an adventurous road trip/bach...
7778,s7777,Movie,Zokkomon,Satyajit Bhatkal,"Darsheel Safary, Anupam Kher, Manjari Fadnis, ...",India,1-Nov-18,PG,104 min,"Children & Family Movies, Dramas","When his cruel uncle abandons him, a young orp..."
7782,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,1-Jul-18,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7785,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [27]:
df[(df['Country'].str.startswith(('T','t')))][['Director']]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [28]:
df.isnull().sum()

Show_Id           0
Category          0
Title             0
Director          0
Cast              0
Country         167
Release_Date      0
Rating            4
Duration          0
Type              0
Description       0
dtype: int64

In [30]:
df.dropna(subset=['Country'],inplace=True)

In [33]:
df[(df["Country"].str.startswith(('T','t')))][['Country','Director',"Cast",'Title']]

,Country,Director,Cast,Title
5,Turkey,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",46
13,Thailand,Nottapon Boonprakob,Artiwara Kongmalai,"2,215"
40,Turkey,Muharrem Gülmez,"Erdem Yener, Ayhan Taş, Emin Olcay, Muharrem G...",Çarsi Pazar
42,Turkey,Ozan Açıktan,"Ayça Erturan, Aydan Taş, Ayşegül Akdemir, Burc...",Çok Filim Hareketler Bunlar
156,Turkey,Umut Kirca,"Emre Karayel, Ceren Moray, Begüm Kütük, Ececan...",A Chaster Marriage
...,...,...,...,...
7708,Thailand,Saratswadee Wongsomphet,"Sushar Manaying, Supanart Jittaleela, Arisara ...",Yes or No
7709,Thailand,Saratswadee Wongsomphet,"Supanart Jittaleela, Sushar Manaying, Nisa Boo...",Yes or No 2
7710,Thailand,Kirati Nakintanon,"Supanart Jittaleela, Pimpakan Bangchawong, Cha...",Yes or No 2.5
7733,Turkey,Tolga Örnek,"Tolga Çevik, Cengiz Bozkurt, Melis Birkan, Tun...",You're Everything To Me
7743,Taiwan,Liu Kuang-hui,"Edward Chen, Tseng Ching-hua, Leon Dai, Jason ...",Your Name Engraved Herein

In [34]:
df.sort_values(subset["Country"],ascending=True)

NameError: name 'subset' is not defined

In [35]:
df.sort_values(['Country'],ascending=True)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
1167,s1168,Movie,Caida del Cielo,Néstor Sánchez Sotelo,"Muriel Santa Ana, Peto Menahem, Héctor Díaz, S...",Argentina,20-Jan-17,TV-MA,78 min,"Comedies, International Movies, Romantic Movies",When Julia literally falls into Alejandro's ba...
1375,s1376,Movie,Chronicle of an Escape,Israel Adrián Caetano,"Rodrigo de la Serna, Pablo Echarri, Nazareno C...",Argentina,15-Jun-18,R,104 min,"Dramas, International Movies, Thrillers",Soccer goalie Claudio Tamburrini is kidnapped ...
3250,s3251,Movie,Just Love,"Andy Caballero, Diego Corsini","Franco Masini, Yamila Saud, Victorio D'Alessan...",Argentina,24-Jan-19,TV-MA,96 min,"Dramas, International Movies, Music & Musicals",Inspired by his love affair with a conservativ...
426,s427,TV Show,Almost Happy,Hernán Guerschuny,"Sebastián Wainraich, Natalie Pérez, Santiago K...",Argentina,2-May-20,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","Sebastián is a radio show host of modest fame,..."
2148,s2149,Movie,Fernando Sanjiao: Hombre,"Raúl Campos, Jan Suter",Fernando Sanjiao,Argentina,25-May-18,TV-MA,63 min,Stand-Up Comedy,Argentine actor and comedian Fernando Sanjiao ...
...,...,...,...,...,...,...,...,...,...,...,...
1482,s1483,Movie,Conjuring Spirit,Van M. Pham,"Phuong Mai, Quang Su, Hoang Phuc Nguyen, Chi P...",Vietnam,28-Aug-18,TV-MA,112 min,"Horror Movies, International Movies, Thrillers","In the wake of her husband's betrayal, a novel..."
939,s940,Movie,Bitcoin Heist,Ham Tran,"Kate Nhung, Thanh Pham, Petey Majik Nguyen, Su...",Vietnam,2-Sep-17,TV-14,116 min,"Action & Adventure, Comedies, International Mo...","A unconventional, efficient Interpol special a..."
2318,s2319,Movie,Furie,Le Van Kiet,"Ngo Thanh Van, Phan Thanh Nhien, Mai Cat Vi, T...",Vietnam,25-Sep-19,TV-MA,97 min,"Action & Adventure, Dramas, International Movies",When traffickers kidnap her daughter from thei...
3105,s3106,Movie,Jackpot,Dustin Nguyen,"Chi Tai, Lan Ngoc, Dustin Nguyen, Thu Trang",Vietnam,6-Oct-18,TV-14,92 min,"Comedies, Dramas, International Movies",A lottery ticket salesperson faces an ethical ...
1493,s1494,Movie,Cook Off,Tomas Brickhill,"Tendaiishe Chitima, Tendai Nguni, Jesese Mungo...",Zimbabwe,1-Jun-20,TV-G,100 min,"Comedies, International Movies, Romantic Movies","Yearning for a better life, a single mother wi..."

In [36]:
df.groupby('Country').mean()

E:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

Empty DataFrame
Columns: []
Index: [Argentina, Argentina, Brazil, France, Poland, Germany, Denmark, Argentina, Chile, Argentina, Chile, Peru, Argentina, France, Argentina, France, United States, Germany, Qatar, Argentina, Spain, Argentina, United States, Argentina, Uruguay, Serbia, Argentina, Uruguay, Spain, France, Australia, Australia, Canada, Australia, France, Australia, France, Ireland, Australia, India, Australia, Iraq, Australia, United Arab Emirates, Australia, United Kingdom, Australia, United Kingdom, Canada, Australia, United Kingdom, United Arab Emirates, Canada, Australia, United States, Austria, Austria, Czech Republic, Austria, United States, Bangladesh, Belgium, Belgium, France, Belgium, Ireland, Netherlands, Germany, Afghanistan, Belgium, United Kingdom, United States, Brazil, Brazil, France, Brazil, France, Germany, Brazil, India, China, United States, Brazil, Netherlands, United States, Colombia, Austria, Germany, Bulgaria, Bulgaria, United States, Bulgaria, United States, Spain, Canada, Cambodia, Cambodia, United States, Canada, Canada, Belgium, Canada, France, United States, Canada, Germany, Canada, Germany, France, United States, Canada, Hungary, United States, Canada, India, Canada, Ireland, United States, Canada, Japan, United States, Canada, Luxembourg, Canada, Mexico, Germany, South Africa, Canada, Nigeria, Canada, Norway, Canada, South Africa, Canada, South Korea, United States, Canada, Spain, Canada, Spain, France, Canada, United Kingdom, Canada, United Kingdom, United States, Canada, United States, Canada, United States, Cayman Islands, Canada, United States, Germany, Canada, United States, India, United Kingdom, Canada, United States, United Kingdom, Chile, Chile, Argentina, Chile, Argentina, France, Spain, United States, Chile, France, Chile, Peru, Chile, Spain, Argentina, Germany, Chile, United States, France, China, China, Canada, United States, China, Hong Kong, China, Hong Kong, United States, China, India, Nepal, China, Japan, China, Morocco, Hong Kong, China, Spain, South Korea, United States, China, Taiwan, China, United States, China, United States, Australia, China, United States, United Kingdom, Colombia, Colombia, Mexico, Colombia, Mexico, United States, Colombia, Peru, United Kingdom, Croatia, Slovenia, Serbia, Montenegro, Czech Republic, Slovakia, Czech Republic, United Kingdom, France, Czech Republic, United States, Denmark, Denmark, Brazil, France, Portugal, Sweden, Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom, Denmark, France, Poland, Denmark, France, United States, Sweden, Denmark, Germany, Belgium, United Kingdom, France, Denmark, Germany, Belgium, United Kingdom, France, Sweden, Denmark, Sweden, Israel, United States, Denmark, United Kingdom, South Africa, Sweden, Belgium, Denmark, United Kingdom, Sweden, ...]

[544 rows x 0 columns]

In [39]:
cat=df.groupby("Category").mean()

In [40]:
cat.reindex(inplace=True)

TypeError: reindex() got an unexpected keyword argument "inplace"

In [41]:
cat.reset_index(inplace=True)

In [42]:
cat

  Category
0    Movie
1  TV Show

In [43]:
df['Category'].value_counts()

Movie      4679
TV Show     136
Name: Category, dtype: int64

In [44]:
df.Category.unique()

array(['Movie', 'TV Show'], dtype=object)

In [45]:
df['Category'].unique()

array(['Movie', 'TV Show'], dtype=object)